/*************************************
#*** TEXT
#************************************/

/* I wan't to make this something scalable, always multiple of 2 */

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
}

h1 {
    font-size: 34px;
    line-height: 38px;
}

h2 {
    font-size: 30px;
    line-height: 36px;
}

h3 {
    font-size: 26px;
    line-height: 30px;
}

h4 {
    font-size: 22px;
    line-height: 26px;
}

h5 {
    font-size: 18px;
    line-height: 22px;
}

h6 {
    font-size: 14px;
    line-height: 18px;
}

p {
    margin-bottom: 20px;
}

strong, b {
    font-weight: bold;
}

i {
    font-style: italic;
}

a:link {
    color: green;
}

a:visited {
    color: darkmagenta;
}

a:hover {
    color: darkgreen;
}

a:active {
    color: red;
}