.column {
    display: inline-block;
    vertical-align: top;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
}

.text-center {
    text-align: center;
}

.intangible {
    pointer-events: none;
}
