
/*************************************
#*** INPUT GROUP
#************************************/

.simple {

    .input-group-text {
        @extend %box-input-dimensions;
        border: 1px solid #919191;
        background-color: #e9ecef;

        input[type='checkbox'], 
        input[type='radio'] {
            width: 1.5em;
            height: 1.5em;
        }
    }

    .input-group {
        @extend .flex;

        .main {
            flex-grow: 1;
        }

        > input, 
        > select, 
        > button, 
        > .input-group-text {
            min-width: 10px;
            border-radius: 0px;
            margin-left: -1px;
        }

        > input:first-child, 
        > select:first-child, 
        > button:first-child, 
        > .input-group-text:first-child {
            border-radius: 3px 0px 0px 3px;
            margin-left: 0px;
        }

        > input:last-child, 
        > select:last-child, 
        > button:last-child, 
        > .input-group-text:last-child {
            border-radius: 0px 3px 3px 0px;
        }
    }

}

/*************************************
#*** FORM GROUP
#************************************/

.simple {
    
    .form-group {
        
        margin-bottom: 20px;

        > label {
            display: block;
        }

        
        > * {           
            align-self: center;
            min-width: 0px;
        }

        
        > input:not([type='checkbox']):not([type='radio']), 
        > select, 
        > textarea, 
        > button {
            min-width: 0px;
            width: 100%;
        }


        > div:not(.input-group) {
            > input:not([type='checkbox']):not([type='radio']), 
            > textarea, 
            > select, 
            > button {
                width: 100%;
            }
        }
    }
}



/*************************************
#*** HORIZONTAL FORMS
#************************************/

.simple {
    
    .horizontal .form-group, 
    .form-group.horizontal {
        @extend .grid;
        grid-row-gap: 0px;
    }
}

/*************************************
#*** VERTICAL FORMS
#************************************/

.simple {
    
    .vertical .form-group, 
    .form-group.vertical {

       

    }
}