
/*************************************
#*** OVERLAY
#************************************/

.overlay {
    pointer-events: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
}

.overlay.close {
    display: none;
}

/*************************************
#*** MODAL
#************************************/

.modal {
    @extend .overlay;
    display: flex;
    pointer-events: auto;
    overflow-y: auto;
}

.modal.closed {
    display: none;
}

    .modal .modal-dialog {
        transform: translate(0,0);
        pointer-events: auto;
        padding: 20px 0px;
        margin: auto;
    }

        .modal .modal-content {
            width: 500px;
            max-width: calc(100% - 40px);
            border: solid 1px #919191;
            border-radius: 3px;
            background: white;
        }

            .modal .modal-header, 
            .modal .modal-body,
            .modal .modal-footer {
                padding: 10px 20px;
            }

            .modal .modal-header {
                border-radius: 3px 3px 0px 0px;
            }

            .modal * + .modal-body, 
            .modal * + .modal-footer {
                border-top: solid 1px #919191;
            }

            .modal-body:last-child, 
            .modal-footer:last-child {
                border-radius: 0px 0px 3px 30px;
            }
