/*************************************
#*** FORMS
#************************************/

@function input-min-height($lines: 1) 
{
    // 18px * lines + (10px padding * 2) + (1px border * 2)
    @return ceil( round($base-font-size * $line-height-ratio) * $lines + 20px + 2px);
}

// dimensions
.box-input-dimensions { 
    height: input-min-height();

    padding: 10px;
    border: solid 1px #ccc;
    margin-bottom: 10px;

    font-size: $base-font-size;
    line-height: $base-font-size * $line-height-ratio;

    background-color: #fff;
}

// looks
.text-input {
    display: inline-block;
    vertical-align: top;
    min-width: 215px;

    border: solid 1px #ccc;
    border-radius: 3px;
    color: #555;
    background-color: #fff;
}

.button-input {
    display: inline-block;
    border: solid 1px #337ab7;    
    border-radius: 3px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
}

/*************************************
#*** INPUT TYPE TEXT
#************************************/

label.padded {
    display: inline-block;
    vertical-align: top;

    @extend .box-input-dimensions;
    border-color: transparent;
}

/*************************************
#*** INPUT TYPE TEXT
#************************************/

textarea,
select,
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
input[type=datetime-local],
input[type=month],
input[type=week],
input[type=time],
input[type=number],
input[type=search] {
    @extend .box-input-dimensions;
    @extend .text-input;
}

textarea:focus,
select:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=url]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=number]:focus,
input[type=search]:focus {
    border: solid 1px #51a7e8;
    box-shadow: 0 0 5px rgba(81, 167, 232, 0.5);
}

textarea {
    height: auto;
    min-height: input-min-height(5);
}

/*************************************
#*** INPUT BUTTONS
#************************************/

button,
input[type=submit],
input[type=button],
input[type=reset], 
.btn {
    @extend .box-input-dimensions;
    @extend .button-input;
}

.btn {
    text-decoration: none;
}

/*************************************
#*** SELECT
#************************************/

select[multiple] {
    
    height: auto;

    option {
        padding: 5px;
    }
}

/*************************************
#*** COLOR
#************************************/

input[type=color] {
    @extend .box-input-dimensions;
    padding: 3px 5px 3px 5px;
}

/*************************************
#*** CHECKS AND RADIOS BUTTONS
#************************************/
/*
input[type=checkbox],
input[type=radio] {
    appearance: none;    
    width: 16px;
    height: 16px;
    $margin: (input-min-height() - 16px) / 2;
    margin-top: $margin;
    margin-bottom: $margin;
}
*/
input[type=radio], 
input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;

    width: 25px;
    height: input-min-height();
}

input[type=radio]:after, 
input[type=checkbox]:after {
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 0px;
    top: calc((#{input-min-height()} - 25px) / 2);
    width: 25px;
    height: 25px;
    border: solid 1px #ddd;
    border-radius: 3px;
    text-align: center;
    line-height: 23px;
    content: '';
    background-color: #fff;
}

input[type=radio]:after {
    border-radius: 50px;
    font-size: 55px;
}

input[type=radio]:checked:after {
    background: radial-gradient(#333 0%, #333 25%, white 30%);
}

input[type=checkbox]:checked:after {
    content: '\2714';
}


/*************************************
#*** INPUT FILE
#************************************/

/*as expected, it works wonderfuly in chrome, but like crap in firefox*/
input[type=file] {
    @extend .box-input-dimensions;
    @extend .text-input;

    padding: 8px 10px 10px 10px;
}