/*
Build sass: CTRL + B
*/


@function str-replace($string, $search, $replace: '') 
{
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

$base-font-size:    14px;
$line-height-ratio: 1.28;

* {
    pointer-events: inherit;
    position: relative;
    vertical-align: top;
    direction: inherit;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    padding: 0px;
    border: none;
    margin: 0px auto 0px auto;
    outline: none;
    
    font-size: inherit;
    line-height: inherit;
    
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
    text-align: inherit;

    background-repeat: no-repeat;
    background-position: top center;    
}

html, 
body {
    font-family: 'Roboto', 'Arial';
    font-size: $base-font-size;
    line-height: $line-height-ratio;
}

@import 'table';
@import 'form';
@import 'lists';
@import 'classes';