#middle {
    width: 960px;
    padding-top: 40px;
    max-width: 100%;
}

#inputs-display {
    text-align: right;
}
    #inputs-display td {
        width: 50%;
    }

    #inputs-display td:last-child {
        text-align: left;
    }

    #inputs-display select, 
    #inputs-display input, 
    #inputs-display button, 
    #inputs-display .btn, 
    #inputs-display textarea {
        margin-bottom: 0px;
    }