/*************************************
#*** BUTTON GROUP
#************************************/
.simple {

    .button-group {
        @extend .flex;
        display: inline-flex;
        width: auto;

        > input, 
        > button,
        > .btn {
            height: auto;
            border-radius: 0px;
            margin-left: -1px;
        }

        > input:first-child,  
        > button:first-child, 
        > .btn:first-child {
            border-radius: 3px 0px 0px 3px;
            margin-left: 0px;
        }

        > input:last-child, 
        > button:last-child, 
        > .btn:last-child {
            border-radius: 0px 3px 3px 0px;
        }
    }
}