
@import './_forms_buttons.scss';
@import './_forms_derived_inputs.scss';
@import './_forms_input_group.scss';
@import './_forms_button_group.scss';

/*************************************
#*** FORM GROUP
#************************************/
.simple {
    
    .form-group {
        
        margin-bottom: 20px;

        > label {
            display: block;
        }

        
        > * {           
            align-self: center;
            min-width: 0px;
        }

        
        > input:not([type='checkbox']):not([type='radio']), 
        > select, 
        > textarea, 
        > button {
            min-width: 0px;
            width: 100%;
        }


        > div:not(.input-group) {
            > input:not([type='checkbox']):not([type='radio']), 
            > textarea, 
            > select, 
            > button {
                width: 100%;
            }
        }
    }
}



/*************************************
#*** HORIZONTAL FORMS
#************************************/

.simple {
    
    .horizontal .form-group, 
    .form-group.horizontal {
        @extend .grid;
        grid-row-gap: 0px;
    }
}

