.simple {
/*************************************
#*** TABLE
#************************************/

    .horizontaly-borded {

        td {
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }

        th:first-child,
        td:first-child {
            border-left-style: solid;
            border-left-width: 1px;
        }

        th:last-child,
        td:last-child {
            border-right-style: solid;
            border-right-width: 1px;
        }
    }

    .verticaly-borded {

        td, th {
            border-left-style: solid;
            border-left-width: 1px;
            border-right-style: solid;
            border-right-width: 1px;
        }

        tr:last-child td {
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }
    }

    /*------------------------------------------*/

    .horizontaly-striped {

        tr:nth-child(2n+0) td {
            background-color: #F8F7FF
        }
    }

    .verticaly-striped {
        td:nth-child(2n+0) {
            background-color: #F8F7FF
        }
    }

    /*------------------------------------------*/

    .highlights tr:hover td {
        background-color: #EDECFE;
    }
}