.simple {
    /*************************************
    #*** flex
    #************************************/

    .flex {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
    }

    .flexy {
        @extend .flex;
        justify-content: space-between;

        > * {
            margin: 0px;
        }
    }
}