body {
    overflow-y: scroll;
}

/*---------------------------------------*/

#header {
    color: #fff;
    background-color: #2196F3;
}

    #header ul {
        display: flex;
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

        #header ul a {
            display: block;
            padding: 20px;
            color: #fff;
            font-size: 16px;
            line-height: 1em;
            text-decoration: none;
        }

        #header ul a:hover {
            background-color: #4FA3E4;
        }

/*---------------------------------------*/

#middle {
    width: 1100px;
    padding-top: 40px;
    max-width: 100%;
}

/*---------------------------------------*/

#example-inputs {
    text-align: right;
}
    #example-inputs td {
        width: 50%;
    }

    #example-inputs td:last-child {
        text-align: left;
    }

/*---------------------------------------*/

#example-grids .card {
    min-height: 100%;
    padding: 10px;
    border-radius: 3px;
    border: solid 1px #ccc;
    margin-bottom: 20px;
    background-color: #fff;
}

/*---------------------------------------*/

#example-tables {
    width: 800px;
    max-width: 100%;
}
    #example-tables table {
        margin-bottom: 60px;
    }

/*---------------------------------------*/

#example-modal .fundo-branco {
    width: 500px;
    max-width: calc(100% - 40px);
    height: auto;
    padding: 40px;
    background-color: #fff;
}
