
/*************************************
#*** TABLE
#************************************/

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px auto 20px auto;
    caption-side: top;


    caption {
        padding: 10px;
        text-align: center;
        color: #333;
        background-color: #C5D3F6;
    }

    td, th {
        padding: 10px;
        border: none;
        vertical-align: middle;
    }

    th {
        border-color: #303f9f;
        font-weight: normal;
        color: #ffffff;
        background-color: #303F9F;
    }

        thead th {
            border-color: #3F51B5;
            background-color: #3F51B5;
        }

    td {
        border-color: #DFDEE3;
    }

    th:first-child,
    td:first-child {
        border-left-style: solid;
        border-left-width: 1px;
    }

    th:last-child,
    td:last-child {
        border-right-style: solid;
        border-right-width: 1px;
    }

    tr:last-child td {
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
}

.table.horizontaly-borded {

    td {
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

    th:first-child,
    td:first-child {
        border-left-style: solid;
        border-left-width: 1px;
    }

    th:last-child,
    td:last-child {
        border-right-style: solid;
        border-right-width: 1px;
    }
}

.table.verticaly-borded {

    td, th {
        border-left-style: solid;
        border-left-width: 1px;
        border-right-style: solid;
        border-right-width: 1px;
    }

    tr:last-child td {
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
}

/*------------------------------------------*/

.table.horizontaly-striped {

    tr:nth-child(2n+0) td {
        background-color: #F8F7FF
    }
}

.table.verticaly-striped {
    td:nth-child(2n+0) {
        background-color: #F8F7FF
    }
}

/*------------------------------------------*/

.table.highlights tr:hover td {
    background-color: #EDECFE;
}
