
/*************************************
#*** BLOCKS
#************************************/

.simple {
    hr {
        height: 1px;
        border-top: solid 1px #919191;
        margin: 20px auto;
    }
}
