@use "sass:math";

@import './_global.scss';

math.div in sass

label[for] {
    cursor: pointer;
}

$border: 1px;
$input-font-size: $base-font-size;
$input-line-height: $input-font-size * $line-height-ratio;

%input-focus {
    border: solid $border #51a7e8;
    box-shadow: 0 0 5px rgba(81, 167, 232, 0.5);
}

@import './_inputs_box.scss';
    @import './_inputs_box_text.scss';   // textarea, input[text|password|email|file|etc], select
    @import './_inputs_box_button.scss'; // button, input[button|submit|reset]
    @import './_inputs_box_color.scss';
    @import './_inputs_box_range.scss';
@import './_inputs_inline.scss'; // radio, checkbox
