.simple {

    ol,
    ul {
        padding-left: 25px;
        margin-bottom: 20px;
    }

    ol ol,
    ol ul,
    ul ul,
    ul ol {
        margin-bottom: 0px;
    }

    li + li {
        margin-top: 2px;
    }

}